.LoadingTodo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
  height: 4.8rem;
  box-shadow: 0 0.5rem 5rem rgba(32, 35, 41, 0.15);
  border-radius: 1rem;
  text-align: center;
}

.LoadingTodo-text {
  margin: 1rem;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.Loading-completeIcon,
.LoadingTodo-deleteIcon {
  border-radius: 5rem;
  height: 2rem;
  width: 2rem;
}

.Loading-completeIcon {
  position: absolute;
  left: 1.2rem;
}

.LoadingTodo-deleteIcon {
  position: absolute;
  right: 1.2rem;
}

.LoadingTodo-container,
.Loading-completeIcon,
.LoadingTodo-deleteIcon {
  background: linear-gradient(
    90deg,
    rgba(250, 250, 250, 1),
    rgb(200, 199, 199)
  );
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  1000% {
    background-position: 0% 50%;
  }
}
