.CreateTodoButton {
  background: linear-gradient(to right, #3fd4d4, rgb(47, 186, 204));
  color: white;
  text-shadow: 0 0 1rem white, 0 0 3rem white, 0 0 2rem yellow;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3rem;
  position: fixed;
  bottom: 2.4rem;
  right: 2.4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  
  z-index: 1;

  transform: rotate(0);
  transition: .3s ease;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}
