:root {
  --primer-color: #2F86A6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(circle, #2F86A6, #34BE82);
  font-family: 'Cascadia Code', sans-serif;
  color: #FFFCDC;
}

#root {
  margin: 0 2.4rem;
  position: relative;
  min-height: 100vh;
}